name: run tests

on:
    push:
        branches: "main"
        paths-ignore: ["README.rst", "LICENSE", ".gitignore"]
jobs:
    runtests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: build pforth
              run:
                  make pforth
            - name: test plisp
              run:
                  ./pforth < plisp.fs plisp/test.lisp
            - name: build plisp2
              run:
                  make plisp2
            - name: test plisp2
              run:
                  ./plisp2 plisp/test.lisp
